header {
    background-color: #A9B5DF;
    display: flex;
    width: 100px;
    padding: auto;

}

body{
    background-color:#FFF2F2
    ;
    
    lista-horizontal
    list-style: none;
    lista;
}
